// -----------------------------------------------------------------------------
// Form > Input group
// -----------------------------------------------------------------------------

.input-group {
  $padding-tb: 10px;
  $padding-lr: 14px;
  position: relative;
}