.logo {
  fill: #e50914;
}

.movie {
  &-func {
    .btn {
      &.is-active {
        color: $white;
        background-color: $color-primary;
      }
    }
  }

  &-section {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include full-pos;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(5%);
    transition: transform $dur * 1.5 $ease, opacity $dur * 2 $ease;

    &.is-active {
      z-index: 10;
      opacity: 1;
      transform: translateY(0);

      .h1,
      .swiper-container {
        transition: all $dur ease;
      }
      .h1 {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.5s;
      }
      .swiper-container {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 1s;
      }
    }

    &.is-animated {
      transform: translateY(-5%);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      right: 0;
      height: 35%;
      background: linear-gradient(black 5%, transparent);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      bottom: 0;
      right: 0;
      height: 35%;
      background: linear-gradient(transparent 30%, black);
    }

    &-bg {
      @include full-pos;
      transition: all $dur linear;
      z-index: 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.5;

      &--next {
        transform: scale(1.5);
      }
    }

    .h1 {
      position: relative;
      z-index: 10;
      margin-bottom: 6rem;
      text-align: center;
    }
    .h1,
    .swiper-container {
      opacity: 0;
      transform: translateY(30px);
    }
    .loading {
      position: absolute;
    }
  }

  &-section-box {
    &--search {
      .search-list {
        img {
          width: 100%;
        }
        li {
          margin-top: $offset-sm;

          &.no-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100vh - #{$header-height-sm});
            width: 100%;
            margin-top: 0;
            padding-bottom: 0;
            font-size: 2rem;
          }
        }
      }
    }
  }

  &-indicator {
    button {
      display: block;
      position: relative;
      color: inherit;
      font-size: 1.6rem;
      letter-spacing: 0.08rem;
      text-transform: capitalize;
      padding: 1rem;
      text-align: left;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 0%;
        margin-top: -1px;
        border-bottom: 2px solid $color-primary;
        transition: width $dur ease;
      }
      &.is-active {
        &::before {
          width: 100%;
        }
      }
    }
  }

  @include mq(medium) {
    &-indicator {
      position: fixed;
      z-index: 100;
      left: 50px;
      // opacity: 0;
      top: 50%;
      transform: translateY(-50%);

      button {
        & + button {
          margin-top: 1.5rem;
        }
      }
    }
    &-section-box {
      &--search {
        .search-list {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          margin-top: -2rem;

          li {
            flex: 0 0 calc(50% - #{$gutter-sm});
            position: relative;
            height: 0;
            margin-top: 2rem;
            padding-bottom: 50%;

            &.no-item {
              flex: 1;
              height: calc(100vh - (#{$header-height-lg} + 20px));
              margin-top: 0;
            }
          }
          .thumb {
            @include full-pos;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  @include mq(large) {
    &-indicator {
      left: 100px;
    }
    &-section-box {
      &--search {
        .search-list {
          box-sizing: border-box;
          margin-top: -($gutter-md + 10px);

          li {
            flex: 0 0 calc(#{percentage(1/3)} - #{$gutter-md});
            margin-top: $gutter-md + 10px;
          }
        }
      }
    }
  }

  @include mq($until: medium) {
    &-indicator {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      position: fixed;
      z-index: 100;
      left: 0;
      right: 0;
      top: $header-height-sm + 10px;
      margin-left: 1rem;
      margin-right: 1rem;
      text-align: center;

      button {
        color: inherit;
        text-transform: capitalize;
        font-size: 1.6rem;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 0.5rem 0.8rem;

        &:first-child {
          margin-left: 0;
        }
        &.is-active {
        }
      }
    }
    &-section-box {
      &--search {
        .search-list {
          li {
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
