.swiper {
  &-container {
    padding-bottom: 5rem;
  }

  &-pagination {
    &-bullet {
      opacity: 0.35;
      background-color: $color-primary;

      &-active {
        opacity: 1;
      }
    }
  }

  &-lazy {
    &-preloader {
      border-color: $color-primary;
      border-top-color: transparent;

      &:after {
        background-image: url('/images/loading.svg');
      }
    }
  }

  &-button {
    &-next,
    &-prev {
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      height: auto;
      width: 27%;
      background-image: none;
      background-color: transparent;
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }

  &-slide {
    position: relative;
    height: 0;
    padding-bottom: percentage(582/1180);

    a {
      display: block;
      @include full-pos;
    }

    .thumb {
      height: 100%;

      img {
        object-fit: cover;
        height: 100%;
      }
    }

    &-prev {
      opacity: 0.5;
    }

    &-next {
      opacity: 0.5;
    }
  }

  @include mq(large) {
    &-container {
      max-width: 850px;
    }
  }
}
